body{
    margin: 0;
    background-color: #d2d2d6;
    font-family: 'Noto Sans JP', sans-serif;
}

.card{
    height:300px;
    overflow: hidden;
}

.card-image{
    height: 300;
    overflow: hidden;
}

.flex-container{
    padding:0;
    margin:0;
    list-style:none;
}

  
  .topnav {
    overflow: hidden;
    background-color: rgb(96, 96, 99);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-left: 250px;
  }
  